<%- model_class = GroupApp -%>
<div class="container">
  <h1>Группы в мессенджерах</h1>
  <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <% @group_apps.each do |group_app| %>
      <% if group_app.available %>
        <li class="nav-item">
          <%= link_to "#{get_icon group_app} #{group_app.name}".html_safe, 
            "#v-pills-#{group_app.id}",
            id: "v-pills-#{group_app.id}-tab",
            class: 'nav-link',
            role: "tab",
            "aria-controls": "v-pills-#{group_app.id}",
            "aria-selected": false,
            "data-toggle": "pill"
          %>
        </li>
      <% else %>
        <% if can? :manage, GroupApp %>
          <li class="nav-item">
            <%= link_to "#{get_icon group_app} #{group_app.name} (отключено)".html_safe, 
              "#v-pills-#{group_app.id}",
              id: "v-pills-#{group_app.id}-tab",
              class: 'nav-link',
              role: "tab",
              "aria-controls": "v-pills-#{group_app.id}",
              "aria-selected": false,
              "data-toggle": "pill"
            %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <% @group_apps.each do |group_app| %>
      <% if group_app.available || (can? :manage, GroupApp) %>
        <%= content_tag :div,
          role: "tabpanel",
          id: "v-pills-#{group_app.id}",
          class: "tab-pane fade",
          "aria-labelledby": "v-pills-#{group_app.id}-tab" do 
            concat group_app.body.html_safe
            unless group_app.group_link.nil? || group_app.group_link.empty?
              concat content_tag :p, 
                "<b>Ссылка для подключения:</b> #{link_to group_app.group_link, group_app.group_link}".html_safe
            end
            if current_user.admin?
              concat content_tag :p,
              "#{ link_to ('Редактировать ' + icon('fas', 'edit')).html_safe, edit_group_app_path(group_app) }".html_safe
            end
          end
        %>
      <% end %>
    <% end %>
  </div>

  <hr>
  <%= link_to 'Добавить', new_group_app_path, class: 'btn btn-success' if can? :create, GroupApp %>
  
  <% if can? :manage, Driving %>
    <p class="move_text">
      <a class="nav-item nav-link nav-nonactive" 
        href="https://docs.google.com/document/d/1FRxnlQFmtFquQKl40PFHZWwJMeR2bO9SD0BuiDMBtTY/edit?usp=sharing"
        target="_blank">
        <i class="fas fa-book"></i> Инструкция (староста)
      </a>
      <%= link_to("#{ icon 'fas', 'car' } Запись на вождение".html_safe, 
        simple_drivings_path,
        class: (
          controller.action_name == 'simple' ? "nav-item nav-link" : "nav-item nav-link nav-nonactive") 
        ) %> 
    </p>
  <% end %>
</div>
