<%- model_class = Driving -%>

<div class="p-3 p-md-5">
  <div class="page-header">
  </div>

  <div class="row">
    <div class="col-10">
      <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    </div>
    <div class="col-2">
      <p><%= link_to("Выйти #{ icon 'fas', 'sign-out-alt' }".html_safe, destroy_user_session_path, method: :delete) %></p>  
      <p><%= link_to("Доступные группы #{ icon 'fas', 'comments' }".html_safe, group_apps_path) %></p>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:instructor_id) %></th>
        <th><%= model_class.human_attribute_name(:student_id) %></th>
        <th><%= model_class.human_attribute_name(:start_date) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @drivings.each do |driving| %>
        <tr>
          <td><%= link_to driving.id, driving_path(driving) %></td>
          <td><%= link_to driving.student_full_name, 
            student_path(driving.student_id), target: "_blank" %>
          </td>
          <td><%= link_to driving.instructor_full_name, 
            instructor_path(driving.instructor_id), target: "_blank" %>
          </td>
          <td><%= driving.start_date %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_driving_path(driving), :class => 'btn btn-default btn-xs' %>
           <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        driving_path(driving),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_driving_path,
              :class => 'btn btn-primary' %>
</div>