<%- model_class = Driving -%>
<div class="container">
  <h1>Расписание</h2>
  <% instructor = @cards[0][:instructor]%>
  <div class="card-group">
    <% @cards.each do |card| %>
      <% if card[:instructor] != instructor %>
      </div>
      <div class="card-group">
    <% end %>
      <% instructor = card[:instructor] %>
      <div class="card" style="max-width: 18rem; min-width: 18rem;">
        <div class="card-body">
          <p class="card-text"><b>День недели</b> <%= card[:data][:day_of_week] %></p>
          <p class="card-text"><%= card[:data][:start_date] %></p>
          <p class="card-text"><b>Инструктор</b> <%= card[:instructor] %></p>
          <p class="card-text"><b>Автомобиль</b> <%= card[:data][:auto] %></p>
          <p class="card-text"><b>1. 08.00 - 10.00</b> <%= card[:data][:student_8] %></p>
          <p class="card-text"><b>2. 10.00 - 12.00</b> <%= card[:data][:student_10] %></p>
          <p class="card-text"><b>3. 13.00 - 15.00</b> <%= card[:data][:student_13] %></p>
          <p class="card-text"><b>4. 15.00 - 17.00</b> <%= card[:data][:student_15] %></p>
        </div>
      </div>
      
  <% end %>
  </div>

  <p><%= link_to("#{ icon 'fas', 'car' } Запись на вождение".html_safe,
    simple_drivings_path) if can? :manage, Driving %></p>
</div>
