<%- model_class = Driving -%>
  <%#= content_tag( :option, instructor.full_name, value: instructor.id ) %>
  <%#= driving.start_date %> <%#= driving.instructor.full_name %> <%#= driving.student.full_name %>
<div class="container">
  <h1>Расписание</h2>

  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><%= sort_link @q, :start_date, model_class.human_attribute_name(:start_date) %></th>
        <th><%= sort_link @q, :instructor_id, model_class.human_attribute_name(:instructor_id) %></th>
        <th><%= sort_link @q, :student_id, model_class.human_attribute_name(:student_id) %></th>
      </tr>
    </thead>
    <tbody>
      <% @drivings.each do |driving| %>
        <tr>
          <td><%= I18n.l driving.start_date %></td>
          <td><%= driving.instructor_full_name %></td>
          <td><%= driving.student_full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to("#{ icon 'fas', 'car' } Запись на вождение".html_safe,
    simple_drivings_path) if can? :manage, Driving %></p>
</div>
