<%- model_class = Driving -%>
<div class="container">
  <h1>Запись на вождение</h1>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <div id="simple_driving_date"></div>
      </div>

      <div class="col-md-3">
        <div class="form-group select optional simple_driving_instructor_id form-group-valid">
          <label class="form-control-label select optional" for="simple_driving_instructor_id"><b>Инструктор</b></label>
          <select class="selectpicker" name="simple_driving[instructor_id]" id="simple_driving_instructor_id" data-width="auto">
            <option selected value="0">Не выбран</option>
            <% @instructors.each do |instructor| %>
              <%= content_tag( :option, instructor.full_name, value: instructor.id ) %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form_simple_driving"> 
          <label class="form-control-label select optional" for="driving_student_id_8"><b>08:00</b></label>
          <a class="btn btn-danger btn-sm" href="javascript:void(0)" id="driving_btn_del_8" name="driving[del]" style="display: none;">
            <i class="fas fa-times"></i>
          </a>
          <select class="selectpicker" data-live-search="true" id="driving_student_id_8" data-width="auto">
            <option selected value="0" >Не выбран</option>
            <% @students.each do |student| %>
              <% student_hours_data = student.driving_tags(@groups) %>
              <%= content_tag( :option,
                student_hours_data[:"data-text"],
                value: student.id,
                "data-tokens": student_hours_data[:"data-tokens"],
                class: student_hours_data[:"class"] ) %>
            <% end %>  
          </select>
        </div>

        <div class="form_simple_driving">
          <label class="form-control-label select optional" for="driving_student_id_10"><b>10:00</b></label>
          <a class="btn btn-danger btn-sm" href="javascript:void(0)" id="driving_btn_del_10" name="driving[del]" style="display: none;">
            <i class="fas fa-times"></i>
          </a>
          <select class="selectpicker" data-live-search="true" id="driving_student_id_10" data-width="auto">
            <option selected value="0" >Не выбран</option>
            <% @students.each do |student| %>
              <% student_hours_data = student.driving_tags(@groups) %>
              <%= content_tag( :option,
                student_hours_data[:"data-text"],
                value: student.id,
                "data-tokens": student_hours_data[:"data-tokens"],
                class: student_hours_data[:"class"] ) %>
            <% end %>  
          </select>
        </div>

        <div class="form_simple_driving">
          <label class="form-control-label select optional" for="driving_student_id_13"><b>13:00</b></label>
          <a class="btn btn-danger btn-sm" href="javascript:void(0)" id="driving_btn_del_13" name="driving[del]" style="display: none;">
            <i class="fas fa-times"></i>
          </a>
          <select class="selectpicker" data-live-search="true" id="driving_student_id_13" data-width="auto">
            <option selected value="0" >Не выбран</option>
            <% @students.each do |student| %>
              <% student_hours_data = student.driving_tags(@groups) %>
              <%= content_tag( :option,
                student_hours_data[:"data-text"],
                value: student.id,
                "data-tokens": student_hours_data[:"data-tokens"],
                class: student_hours_data[:"class"] ) %>
            <% end %>  
          </select>
        </div>

        <div class="form_simple_driving">
          <label class="form-control-label select optional" for="driving_student_id_15"><b>15:00</b></label>
          <a class="btn btn-danger btn-sm" href="javascript:void(0)" id="driving_btn_del_15" name="driving[del]" style="display: none;">
            <i class="fas fa-times"></i>
          </a>
          <select class="selectpicker" data-live-search="true" id="driving_student_id_15" data-width="auto">
            <option selected value="0" >Не выбран</option>
            <% @students.each do |student| %>
              <% student_hours_data = student.driving_tags(@groups) %>
              <%= content_tag( :option,
                student_hours_data[:"data-text"],
                value: student.id,
                "data-tokens": student_hours_data[:"data-tokens"],
                class: student_hours_data[:"class"] ) %>
            <% end %>  
          </select>
        </div>
      </div>
    </div>
  </div>

  <p><%= link_to("#{ icon 'fas', 'list-ul' } Расписание".html_safe,
    schedule_drivings_path) if can? :manage, Driving %></p>

  <p><%= link_to("Администрирование записей на вождение...",
    drivings_path) if can? :manage, Driving %></p>
</div>