<div class="text-center div-signin">
  <!-- <h1 class="h3 mb-3 font-weight-normal"><%= t('.sign_in') %></h1> -->

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-signin"}) do |f| %>
    <div class="form-group">
      <%= f.label :login %>
      <%= f.text_field :login, autofocus: true, autocomplete: 'login', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' do %>
          <%= resource.class.human_attribute_name('remember_me') %>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit  t('.sign_in'), class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>

<hr>

<div class="container">
  <h1>Расписание</h2>
  <% unless @cards.empty? %>
    <% instructor = @cards[0][:instructor]%>
    <h5><%= instructor %></h5>
    <div class="card-group">
      <% @cards.each do |card| %>
        <% if card[:instructor] != instructor %>
          </div>
          <hr>
          <h5><%= card[:instructor] %></h5>
          <div class="card-group">
        <% end %>
        <% instructor = card[:instructor] %>
        <div class="card" style="max-width: 20rem; min-width: 20rem;">
          <div class="card-body">
            <p class="card-text"><b>День недели</b> <%= card[:data][:day_of_week] %></p>
            <p class="card-text"><%= card[:data][:start_date] %></p>
            <p class="card-text"><b>Инструктор</b> <%= card[:instructor] %></p>
            <p class="card-text"><b>Автомобиль</b> <%= card[:data][:auto] %></p>
            <p class="card-text"><b>1. 08.00 - 10.00</b> <%= card[:data][:student_8] %></p>
            <p class="card-text"><b>2. 10.00 - 12.00</b> <%= card[:data][:student_10] %></p>
            <p class="card-text"><b>3. 13.00 - 15.00</b> <%= card[:data][:student_13] %></p>
            <p class="card-text"><b>4. 15.00 - 17.00</b> <%= card[:data][:student_15] %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
