<!DOCTYPE html>
<html>
  <head>
    <title>DosaafGroups</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">©2018 Sergey Babich <%= mail_to "babichsa@yandex.ru", (icon 'far', 'envelope') %></span>
      </div>
    </footer>
    <div class="timeTravel" style="width:90%; height: 90vh; position: absolute; top: 0; left: 0; z-index: 99; display: none"></div>
  </body>
</html>
