<!DOCTYPE html>
<html>
  <head>
    <title>Группы ДОСААФ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <% unless devise_controller? %>
      <%= render 'layouts/header' %>
    <% end %>

    <main role="main">
      <div class="move_footer">
        <%= yield %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> text-center">
            <%= value %>
          </div>
        <% end %>
      </div>
    </main>

    <% unless devise_controller? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
